/* <--- DEBUG ---> */
body.debug{
    background-color: tomato;
}

.debug .header_row_1{
    background-color: black;
}

#sony_logo{
    width:100px;
}

.jumbotron{
    margin-top: 88px;
    height: 500px;
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
}

#returnal_banner{
    width: 100%;
}
