/* START HEADER */
.bg_dark{
    background-color: black;
}
#sony_logo{
    width:100px;
}
/* END HEADER */

/* START JUMBO */
.jumbotron{
    margin-top: 88px;
    height: 500px;
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
}

.jumbotron2{
    height: 500px;
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
}

/* END JUMBO */

/* START MAIN */
.width_img img {
    width: 100%;
}
.width_img_md img{
    width: 80%;
}

.width_img_sm img{
    width: 50%;
}

.min-height{
    min-height: 200px;
}

.rounded_img{
    border-radius: 1rem;
}

@media screen and (max-width: 767px){
    .ghost_sm{
        display: none;
    }
}

.bg_psplus{
    background-color: #bebcbb;
}

.bg_psnow{
    background-color: #171c39;
}

/* END MAIN */

