/* START HEADER */
.bg_dark{
    background-color: black;
}
#sony_logo{
    width:100px;
}
/* END HEADER */

/* START JUMBO */
.jumbotron{
    margin-top: 88px;
    height: 500px;
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
}
#returnal_banner{
    width: 100%;
}
/* END JUMBO */

/* START MAIN */
.width_img img {
    width: 100%;
}

.rounded_img{
    border-radius: 1rem;
}

@media screen and (max-width: 767px){
    .ghost_sm{
        display: none;
    }
}

/* END MAIN */

